.cartCard {
  background-color: white;
  padding: 10px;
  flex: 1;
}

.cartList {
  padding-bottom: 20px;
}

.cartItem {
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

.separator {
  border-bottom-width: 1;
  border-color: #d3d3d3;
  border-style: dashed;
}

.pizzaImage {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin-right: 15px;
}

.pizzaDetails {
  flex: 1;
}

.pizzaName {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.pizzaPrice {
  font-size: 14px;
  color: #888;
}

.quantityContainer {
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.quantityText {
  font-size: 14px;
}

.itemTotal {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.bottomContainer {
  margin-top: 20px;
}

.summaryContainer {
  margin-bottom: 10px;
  width: 100%;
}

.buttonContainer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancelButton {
  background-color: #ff6b6b;
  padding: 15px;
  border-radius: 10px;
  flex: 1;
  align-items: center;
  margin-right: 10px;
}

.cancelButtonText {
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.orderButton {
  background-color: #4caf50;
  padding: 10px;
  border-radius: 10px;
  flex: 1;
  align-items: center;
  width: 100%;
}

.orderButtonText {
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.summaryRow {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.summaryText {
  font-size: 13px;
  color: #666;
}

.summaryValue {
  font-size: 13px;
  color: #666;
}

.totalText {
  font-size: 15px;
  font-weight: 700;
  color: #333;
}

.totalValue {
  font-size: 15px;
  font-weight: 700;
  color: #333;
}

.emptyCartContainer {
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.emptyCartText {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.selectItemsButton {
  background-color: #4caf50;
  padding: 10px 20px;
  border-radius: 5px;
}

.selectItemsButtonText {
  color: #fff;
  font-size: 16px;
}

/* === New Offer Section Styles === */

.offersHeading {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-top: 5px;
}
.addressContainer {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.addressText {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 5px;
}

.address {
  font-size: 14px;
  color: #555555;
  line-height: 20px;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
}

//address
.address-container {
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.address-header {
  display: flex;
  align-items: center;
}

.radio-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #333333;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #4caf50; /* Green color for selected state */
}

.unselected-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: transparent; /* Empty circle for unselected state */
}

.address-text {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}

.address {
  font-size: 14px;
  color: #555555;
  line-height: 20px;
  word-wrap: break-word;
  white-space: pre-wrap;
}
